In [1]:
import pandas as pd

## About Dataset
### Description:
This dataset contains the latest information on car prices in Australia for the year 2023. It covers various brands, models, types, and features of cars sold in the Australian market. It provides useful insights into the trends and factors influencing the car prices in Australia. The dataset includes information such as brand, year, model, car/suv, title, used/new, transmission, engine, drive type, fuel type, fuel consumption, kilometres, colour (exterior/interior), location, cylinders in engine, body type, doors, seats, and price. The dataset has over 16,000 records of car listings from various online platforms in Australia.

## Key Features:
- Brand: Name of the car manufacturer 
- Year: Year of manufacture or release
- Model: Name or code of the car model
- Car/Suv: Type of the car (car or suv)
- Title: Title or description of the car
- UsedOrNew: Condition of the car (used or new)
- Transmission: Type of transmission (manual or automatic)
- Engine: Engine capacity or power (in litres or kilowatts)
- DriveType: Type of drive (front-wheel, rear-wheel, or all-wheel)
- FuelType: Type of fuel (petrol, diesel, hybrid, or electric)
- FuelConsumption: Fuel consumption rate (in litres per 100 km)
- Kilometres: Distance travelled by the car (in kilometres)
- ColourExtInt: Colour of the car (exterior and interior)
- Location: Location of the car (city and state)
- CylindersinEngine: Number of cylinders in the engine
- BodyType: Shape or style of the car body (sedan, hatchback, coupe, etc.)
- Doors: Number of doors in the car
- Seats: Number of seats in the car
- Price: Price of the car (in Australian dollars)

In [2]:
car = pd.read_csv('Australian Vehicle Prices.csv')

In [3]:
car.head()

,Brand,Year,Model,Car/Suv,Title,UsedOrNew,Transmission,Engine,DriveType,FuelType,FuelConsumption,Kilometres,ColourExtInt,Location,CylindersinEngine,BodyType,Doors,Seats,Price
0,Ssangyong,2022.0,Rexton,Sutherland Isuzu Ute,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,"4 cyl, 2.2 L",AWD,Diesel,8.7 L / 100 km,5595,White / Black,"Caringbah, NSW",4 cyl,SUV,4 Doors,7 Seats,51990
1,MG,2022.0,MG3,Hatchback,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,"4 cyl, 1.5 L",Front,Premium,6.7 L / 100 km,16,Black / Black,"Brookvale, NSW",4 cyl,Hatchback,5 Doors,5 Seats,19990
2,BMW,2022.0,430I,Coupe,2022 BMW 430I M Sport,USED,Automatic,"4 cyl, 2 L",Rear,Premium,6.6 L / 100 km,8472,Grey / White,"Sylvania, NSW",4 cyl,Coupe,2 Doors,4 Seats,108988
3,Mercedes-Benz,2011.0,E500,Coupe,2011 Mercedes-Benz E500 Elegance,USED,Automatic,"8 cyl, 5.5 L",Rear,Premium,11 L / 100 km,136517,White / Brown,"Mount Druitt, NSW",8 cyl,Coupe,2 Doors,4 Seats,32990
4,Renault,2022.0,Arkana,SUV,2022 Renault Arkana Intens,USED,Automatic,"4 cyl, 1.3 L",Front,Unleaded,6 L / 100 km,1035,Grey / Black,"Castle Hill, NSW",4 cyl,SUV,4 Doors,5 Seats,34990

#### Drop unecessary columns from dataset

In [4]:
columns_to_drop = ['Car/Suv', 'Engine','DriveType','Doors','Seats','Location','FuelConsumption']

# Drop the specified columns
car.drop(columns=columns_to_drop, inplace=True)

In [5]:
car.head()

,Brand,Year,Model,Title,UsedOrNew,Transmission,FuelType,Kilometres,ColourExtInt,CylindersinEngine,BodyType,Price
0,Ssangyong,2022.0,Rexton,2022 Ssangyong Rexton Ultimate (awd),DEMO,Automatic,Diesel,5595,White / Black,4 cyl,SUV,51990
1,MG,2022.0,MG3,2022 MG MG3 Auto Excite (with Navigation),USED,Automatic,Premium,16,Black / Black,4 cyl,Hatchback,19990
2,BMW,2022.0,430I,2022 BMW 430I M Sport,USED,Automatic,Premium,8472,Grey / White,4 cyl,Coupe,108988
3,Mercedes-Benz,2011.0,E500,2011 Mercedes-Benz E500 Elegance,USED,Automatic,Premium,136517,White / Brown,8 cyl,Coupe,32990
4,Renault,2022.0,Arkana,2022 Renault Arkana Intens,USED,Automatic,Unleaded,1035,Grey / Black,4 cyl,SUV,34990

In [6]:
car.shape

(16734, 12)

In [7]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16734 entries, 0 to 16733
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              16733 non-null  object
 1   Year               16733 non-null  float64
 2   Model              16733 non-null  object
 3   Title              16733 non-null  object
 4   UsedOrNew          16733 non-null  object
 5   Transmission       16733 non-null  object
 6   FuelType           16733 non-null  object
 7   Kilometres         16733 non-null  object
 8   ColourExtInt       16733 non-null  object
 9   CylindersinEngine  16733 non-null  object
 10  BodyType           16452 non-null  object
 11  Price              16731 non-null  object
dtypes: float64(1), object(11)
memory usage: 1.5+ MB

# Data Cleaning Process





#### Drop NaN value from all columns

In [8]:
car.dropna(inplace=True)

#### Brand column

In [9]:
car['Brand'].unique()

array(['Ssangyong', 'MG', 'BMW', 'Mercedes-Benz', 'Renault', 'Toyota',
       'Land', 'Nissan', 'Honda', 'Volkswagen', 'Mitsubishi', 'Ford',
       'Subaru', 'Hyundai', 'Jeep', 'Volvo', 'Mazda', 'Abarth', 'Holden',
       'Audi', 'Kia', 'Mini', 'Peugeot', 'Suzuki', 'Dodge', 'Porsche',
       'Isuzu', 'Lexus', 'Jaguar', 'Rolls-Royce', 'Skoda', 'Fiat',
       'Haval', 'Citroen', 'LDV', 'HSV', 'Foton', 'Mahindra', 'Maserati',
       'Alfa', 'GWM', 'Ram', 'Tesla', 'Genesis', 'Chrysler', 'Great',
       'Opel', 'Bentley', 'Rover', 'Ferrari', 'Cupra', 'Chevrolet',
       'Lamborghini', 'FPV', 'McLaren', 'Chery', 'Iveco', 'Infiniti',
       'BYD', 'Tata', 'Aston', 'Daewoo', 'Saab', 'Proton', 'Smart',
       'Daihatsu', 'Ineos', 'Caterham', 'Hino', 'International', 'Lotus',
       'Polestar'], dtype=object)

#### Year column

In [10]:
car['Year'].unique()

array([2022., 2011., 2004., 2017., 2000., 2013., 2014., 2009., 2018.,
       2016., 2012., 2023., 2005., 2015., 2019., 2021., 2007., 2010.,
       2003., 2008., 2006., 2020., 1999., 2002., 1995., 1997., 2001.,
       1998., 1985., 1992., 1986., 1996., 1994., 1990., 1993., 1981.,
       1991., 1989., 1959., 1984., 1978.])

#### Convert Year type from (object) to (int)

In [11]:
car['Year'] = car['Year'].astype(int)

####  Model Column

In [12]:
car['Model'].unique()

array(['Rexton', 'MG3', '430I', 'E500', 'Arkana', 'Estima', 'Rover',
       'Pulsar', '86', 'Jazz', 'HiAce', 'Golf', 'X3', 'Outlander', '118D',
       'Fiesta', 'Amarok', 'Outback', 'Mirage', 'Camry', 'I45',
       'Territory', 'Qashqai', 'T-Cross', 'Tucson', 'Focus', 'X-Trail',
       'Corolla', 'Yaris', 'Grand', 'Patriot', 'S60', 'Triton', 'E250',
       'A250', 'CX-5', 'Falcon', '595', 'CR-V', 'I30', '6', 'Kluger',
       'Santa', 'Cascada', 'ML320', 'Lancer', 'A5', 'RIO', 'Cherokee',
       'Tiguan', 'ASX', '220I', '3', 'Imax', 'XV', 'Cooper', '308',
       'Commodore', 'I20', 'BT-50', 'Vezel', 'CX-7', 'Renegade',
       'Elgrand', 'Impreza', 'X4', '118I', 'Q7', 'Celerio', 'Liberty',
       'C-HR', 'Forester', 'CX-3', 'City', 'Cruze', 'RAV4', 'CLC200',
       'Journey', 'Caddy', 'Civic', 'Compass', 'CX-9', 'Ranger',
       'Captiva', '2', 'M135I', '330I', 'Q3', 'Accent', 'B-Class',
       'Sportage', 'Cayenne', 'Cayman', 'Swift', 'Navara', 'Hilux',
       'Venue', 'X1', 'Veloster', 'M4', 'Transit', 'Trax', 'Cerato',
       'RS3', 'C200', 'D-MAX', 'A200', 'Puma', 'Sorento', 'MU-X', 'IS350',
       'Stinger', 'Landcruiser', 'A3', 'Trafic', '208', 'HR-V', 'A4',
       'Accord', 'SQ5', 'CLK-Class', 'IS300', 'XF', 'Polo', 'ZS', 'M140I',
       'Pajero', 'Q2', '218I', 'Patrol', 'Passat', 'Megane', 'Ghost',
       'Crafter', 'Tarago', 'Iload', 'Rodeo', '320D', 'Astra', 'Colorado',
       'Octavia', 'UX200', 'Rapid', 'Picanto', 'Carnival', 'ZST',
       'Calais', '500', 'GLA250', 'H9', 'Q5', 'V60', 'Stonic', 'RX300',
       'Land', 'Vitara', 'Clubman', 'C4', '2008', 'Acadia', 'Barina',
       'C220', 'C250', 'Alphard', 'Mustang', 'Elantra', 'Macan', 'Kona',
       'Xc', 'X5', 'Pathfinder', 'E2000', 'C43', '320I', 'S3', 'M5',
       'Glb', 'WRX', 'Dualis', 'RX350', 'IX35', 'Viva', 'Stagea', 'GLC43',
       'Commander', 'Almera', 'Noah', 'C30', 'Multivan', 'Kuga',
       'C-CLASS', 'R8', 'GR', 'Koleos', 'G10', 'Ractis', 'Touareg',
       'Escape', 'IS250C', 'Ioniq', '4', '116I', 'GLC300', 'SQ7',
       'Eclipse', 'Mondeo', 'RX350L', 'Clubsport', 'Hiace', 'Aurion',
       'T60', 'Transporter', 'Celica', 'Tunland', 'PIK-UP', '420I',
       'Kamiq', 'M-Class', 'RX450H', 'Serena', 'GTS', 'AMG', 'CLA250',
       'Ghibli', 'Fabia', 'Romeo', 'Voxy', 'Optima', '328I', 'Caravan',
       'SP23', 'XC60', 'Z4', 'Tank', 'M2', 'A7', 'A1', 'F-Pace', 'ML350',
       'Juke', 'Echo', 'C63', 'X6', '1500', 'C300', 'Model', 'GLE63',
       'Sonata', 'B180', 'Statesman', 'Altima', 'Superb', 'LS460',
       'T-ROC', 'I40', 'ORA', '225I', 'Everest', 'Kangoo', 'CLA45',
       'ES250', 'Note', 'A45', 'E200', 'Sprinter', 'RX450HL', 'A6', 'UTE',
       '330D', 'Caprice', 'V40', 'GV80', 'Niro', 'Staria', 'BRZ',
       'Odyssey', 'FJ', 'Countryman', 'ES350', '300', '3D', 'Wrangler',
       'Rav', 'Ducato', 'NX300H', 'GS450H', 'Baleno', '508', 'Ignis',
       'NX300', '3008', 'V80', 'Delica', 'I8', 'CLS250', 'XC90', 'GLA45',
       'RCZ', 'CLA', 'M240I', 'HS', 'GLC', 'Wall', '380', 'Ecosport',
       'RS4', 'GLE', 'M340I', 'MPV', 'Prius', 'Haval', 'Taycan', 'ML63',
       'Combo', 'RS', 'GLA35', 'Sebring', 'GT40', '428I', 'Granvia',
       'M235I', '1', 'E350', 'Rondo', 'Challenger', 'Karoq', 'Other',
       'B200', 'Convertible', 'Fortuner', '435I', 'S5', '230I', 'Maxima',
       'E55', 'DS3', 'TT', 'E400', 'DS4', 'Legacy', 'EOS', 'Captur',
       'GLC250', 'Arteon', 'Getz', 'Fit', 'MX-5', 'Kodiaq', 'A8', '320CI',
       'Grancabrio', 'S40', 'Festiva', 'Express', 'CX-30', 'NX250', 'S4',
       'Jetta', 'Alto', '4008', 'RS6', 'CT', 'Mulsanne', 'Mini',
       'Trailblazer', 'Freemont', 'F', 'IS300H', 'Panda', 'Gladiator',
       'ML400', 'B2500', '500X', 'CLS53', 'Micra', 'Clio', '360', 'NX',
       'Scirocco', 'GLA180', 'G10+', 'Every', 'Formentor', 'XC40',
       'ES300H', 'XE', 'X2', 'Gtsr', 'NX200T', 'Silverado', '5', 'IX',
       'GV70', 'Levante', 'Carry', 'Urus', 'SX4', 'RX', 'X7', 'S450',
       'ML250', 'Quattroporte', 'NX350H', 'Viano', 'Deliver', 'Cube',
       'G-Class', '323', '218D', '135I', 'F6', 'IS250', 'Xjsc', 'Endura',
       'Leaf', 'A180', 'CLK320', 'M3', 'Monaro', 'MX-30', 'GLE350',
       '720S', 'Continental', 'Crewman', 'GL500', 'Seltos', 'E-Pace',
       'Ateca', 'S350', 'CX-8', 'RS5', 'Crosstrek', 'GLC63', 'Fairmont',
       '540C', 'Coupe', 'A-CLASS', 'Fairlane', 'Vellfire', 'GLC200',
       'Mifa', 'F-Type', 'CLA200', 'J3', 'LX570', 'G63', 'LC500',
       'Master', 'Levorg', 'Scala', '911', 'E63', 'S65', 'Palisade',
       'Jimny', 'Boxster', 'GLE400', 'XL-7', 'Q8', '650S', 'Sambar',
       'Skyline', 'F250', 'Expert', 'M8', 'X', 'LX500D', '128TI', '740I',
       'V250', 'Nitro', 'RC350', 'SL55', 'E-Tron', 'RX-8', 'Tribeca',
       '370Z', 'Equinox', 'Jackaroo', 'R300', '220D', 'RX270', 'GT-R',
       'Laguna', 'Airtrek', 'X250', 'Mark', 'Murano', '125I', 'Corvette',
       'Tiida', 'F430', 'Avensis', 'Panamera', 'Valente', 'SLC', 'EQA',
       'GLE300', 'XUV500', 'S-Cross', '228I', 'GLA', 'MB100', 'Vito',
       'D90', 'RX330', 'Tribute', 'Musso', '718', 'Roadster', 'Magna',
       'A190', 'Caravelle', 'RC200T', 'E300', 'E240', 'RC', 'Integra',
       'Z', 'Jolion', 'GTC4', 'Granturismo', 'Terracan', 'Daily', 'M6',
       'Courier', 'Steed', 'S63', 'Roomster', '318I', 'C180', 'SQ2',
       'Korando', 'Crown', '5008', 'F450', 'E220', 'Kizashi', 'GLC220',
       'GLC350', 'Pursuit', 'RX500H', 'V', 'Marco', 'C5', 'Tundra', 'C3',
       'G350', 'CLS500', 'Beetle', 'Senator', 'Stavic', 'I4', 'H6',
       'V240', 'Colt', 'Trajet', 'C230', '307', 'Doblo', '335I', '695',
       '300C', 'H8', 'Adventra', 'LX600', 'S450L', '330CI', 'CR-Z',
       '323I', 'Cabrio', 'IS200T', 'CLK63', 'CT200H', 'Berlingo',
       'Omoda5', 'Supra', 'H2', 'CLS350', 'R-Class', 'California',
       'GLS350', 'Vectra', 'Genesis', 'ES300', 'GL63', 'G70', 'Ute',
       'GLS500', 'K2700', 'SC430', 'Q50', 'Paceman', 'GLA200', 'Avalon',
       'Atto', '520D', 'Corsa', 'EQB', 'XUV700', 'G80', '340I', 'Spectra',
       'A35', 'GS350', 'GLE450', 'GLA220', 'GLS', 'B250', 'EQS53',
       'S-Class', 'UX', 'EQC', 'Actyon', 'C350', 'Malibu', 'Maloo', 'XKR',
       'XC70', 'GL320', 'CLK500', '407', 'Soul', '570S', 'Aventador',
       'Viper', 'XJ8', '207', '530I', 'CC', '612', '120D', 'E53', 'EV6',
       '740LI', 'NX350', 'Caldina', 'Arnage', 'Q60', '525I', '420D',
       'ML500', '121', 'Maybach', 'LX470', 'Maverick', 'Xenon', 'MG6',
       'SL350', 'APV', 'Martin', 'GLB', '730D', 'CLA35', 'X350', 'I-Pace',
       '5D', 'Lanos', 'Regius', '2500', '120I', 'Verada', 'X200', 'R320',
       'Avalanche', 'GLE250', 'PT', 'J11', 'CLK280', '316I', 'C40',
       '3-Sep', 'Laser', 'GS250', 'LX450D', 'Prius-C', 'Coaster', 'ML300',
       'Grange', 'S16', 'Scudo', 'Kadjar', 'Cooper_Countryman', '530D',
       '350Z', 'E-CLASS', '325I', 'I3', 'GR86', 'GLE43', 'Punto', 'SQ8',
       'V50', 'Fortwo', 'Epica', 'Hijet', 'GT', 'Mazda3', 'T3',
       'Grenadier', 'Mazda2', 'Seven', 'FTS', 'NLS', 'Stralis', 'Prostar',
       'FYJ', 'FSR', 'CX-90', 'NNR', 'NLR', '700', 'NMR', 'Edeliver',
       'Alpina', 'Evora', '600LT', 'Eurocargo', 'GV60', 'GLE53', 'ZR-V',
       'LS500H', '8', '812', 'FVD', 'FYX', 'Trucks', 'FVL', 'NQR',
       'Elise', 'FRD', 'Sx4', '520I', 'NPR', 'Aumark', '530E', 'CX-60',
       '250', 'FRR', 'M440I', '560', 'LS500', 'Born', 'GL-Class', 'Spark',
       'A170', 'Midget', 'SL500', '300ZX', 'Sierra', 'HDT', '180',
       'Silvia', 'Mr', 'Leon', 'CX30', 'SLK350', 'NV350', 'Fuso', 'S430',
       '420', 'B4000', 'Scorpio-N', 'E20', '190'], dtype=object)

In [13]:
selected_rows = car[car['Model'] == 'D-MAX']
print(selected_rows)

       Brand  Year  Model                                              Title  \
197    Isuzu  2017  D-MAX                2017 Isuzu D-MAX LS-M HI-Ride (4X4)
378    Isuzu  2013  D-MAX                          2013 Isuzu D-MAX SX (4X2)
380    Isuzu  2016  D-MAX                          2016 Isuzu D-MAX SX (4X4)
600    Isuzu  2017  D-MAX                          2017 Isuzu D-MAX SX (4X2)
977    Isuzu  2016  D-MAX                       2016 Isuzu D-MAX SX Crew Cab
...      ...   ...    ...                                                ...
16179  Isuzu  2015  D-MAX  2015 Isuzu D-MAX SX Utility Crew Cab 4dr Man 5...
16395  Isuzu  2013  D-MAX                       2013 Isuzu D-MAX SX Crew Cab
16490  Isuzu  2016  D-MAX                          2016 Isuzu D-MAX SX (4X4)
16508  Isuzu  2021  D-MAX                          2021 Isuzu D-MAX SX (4X4)
16522  Isuzu  2021  D-MAX                          2021 Isuzu D-MAX SX (4X2)

      UsedOrNew Transmission FuelType Kilometres         ColourExtInt  \
197        USED    Automatic   Diesel     192988            White / -
378        USED       Manual   Diesel     223907            White / -
380        USED    Automatic   Diesel     310215  White / Grey  Cloth
600        USED       Manual   Diesel       6532        White / Black
977        USED    Automatic   Diesel     179062                - / -
...         ...          ...      ...        ...                  ...
16179      USED       Manual        -     135448            White / -
16395      USED    Automatic   Diesel     127805         White / Grey
16490      USED    Automatic   Diesel      85211        White / Black
16508      USED    Automatic   Diesel      36741            White / -
16522      USED       Manual   Diesel      16000            White / -

      CylindersinEngine    BodyType  Price
197               4 cyl  Ute / Tray  28999
378               4 cyl  Ute / Tray  14913
380               4 cyl  Ute / Tray  21990
600               4 cyl  Ute / Tray  35888
977                   -  Ute / Tray  32950
...                 ...         ...    ...
16179                 -  Ute / Tray  23990
16395                 -  Ute / Tray  29950
16490             4 cyl  Ute / Tray  30990
16508             4 cyl  Ute / Tray  56998
16522             4 cyl  Ute / Tray  35900

[130 rows x 12 columns]

#### Title Column

In [14]:
car['Title'].unique()

array(['2022 Ssangyong Rexton Ultimate (awd)',
       '2022 MG MG3 Auto Excite (with Navigation)',
       '2022 BMW 430I M Sport', ..., '2014 Nissan X-Trail TL (4X4)',
       '2014 Toyota Alphard', '2021 Mercedes-Benz C200'], dtype=object)

#### Get the string value in length(1,4)

In [15]:
car['Title']=car['Title'].str.split().str.slice(start=1,stop=4).str.join(' ')

In [16]:
car['Title'].unique()

array(['Ssangyong Rexton Ultimate', 'MG MG3 Auto', 'BMW 430I M', ...,
       'Toyota Corolla HYBRID', 'Mercedes-Benz Sprinter 313',
       'Mitsubishi Outlander ES-15'], dtype=object)

#### UsedOrNew column

In [17]:
car['UsedOrNew'].unique()

array(['DEMO', 'USED', 'NEW'], dtype=object)

In [18]:
count_specific_value = car['UsedOrNew'].value_counts()['USED']

print(f"The count of 'your_specific_value' in 'column_name' is: {count_specific_value}")

The count of 'your_specific_value' in 'column_name' is: 14729

In [19]:
selected_rows = car[car['UsedOrNew'] == 'DEMO']
print(selected_rows)

           Brand  Year       Model                      Title UsedOrNew  \
0      Ssangyong  2022      Rexton  Ssangyong Rexton Ultimate      DEMO
286           MG  2022          ZS               MG ZS Excite      DEMO
654          BMW  2023          X4                   BMW X4 M      DEMO
833          GWM  2023        Tank               GWM Tank 300      DEMO
862         Audi  2023          A1                 Audi A1 35      DEMO
...          ...   ...         ...                        ...       ...
16639      Mazda  2023       BT-50             Mazda BT-50 XT      DEMO
16678      Mazda  2022        CX-9         Mazda CX-9 Touring      DEMO
16703     Nissan  2022  Pathfinder       Nissan Pathfinder TI      DEMO
16725         MG  2022          HS                 MG HS Phev      DEMO
16731     Suzuki  2022      Vitara         Suzuki Vitara 1.6L      DEMO

      Transmission  FuelType Kilometres  \
0        Automatic    Diesel       5595
286      Automatic  Unleaded         15
654      Automatic   Premium       1589
833      Automatic         -        228
862      Automatic   Premium       2100
...            ...       ...        ...
16639    Automatic    Diesel       3980
16678    Automatic  Unleaded       4890
16703    Automatic   Premium       1888
16725    Automatic    Hybrid       6156
16731    Automatic  Unleaded       5165

                                ColourExtInt CylindersinEngine    BodyType  \
0                              White / Black             4 cyl         SUV
286    Blue / Knight Black Synthetic Leather             4 cyl         SUV
654                   Black / Merino Leather                 -       Wagon
833                           Orange / Black             4 cyl         SUV
862                            Black / Black             4 cyl   Hatchback
...                                      ...               ...         ...
16639                              White / -             4 cyl  Ute / Tray
16678                               Grey / -             4 cyl         SUV
16703                         Silver / Black             6 cyl         SUV
16725                              White / -             4 cyl         SUV
16731                             Yellow / -             4 cyl         SUV

        Price
0       51990
286     23690
654    189990
833     51585
862     51288
...       ...
16639   49990
16678   52300
16703   78456
16725   46990
16731   35280

[506 rows x 12 columns]

#### Transmission column

In [20]:
car['Transmission'].unique()

array(['Automatic', 'Manual', '-'], dtype=object)

In [21]:
count_specific_value = car['Transmission'].value_counts()['-']

print(f"The count of 'your_specific_value' in 'column_name' is: {count_specific_value}")

The count of 'your_specific_value' in 'column_name' is: 188

#### Replace '-' with 'Automatc'

In [22]:
car['Transmission']=car['Transmission'].str.replace('-','Automatic')

In [23]:
car['Transmission'].unique()

array(['Automatic', 'Manual'], dtype=object)

In [24]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16450 entries, 0 to 16733
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              16450 non-null  object
 1   Year               16450 non-null  int32
 2   Model              16450 non-null  object
 3   Title              16450 non-null  object
 4   UsedOrNew          16450 non-null  object
 5   Transmission       16450 non-null  object
 6   FuelType           16450 non-null  object
 7   Kilometres         16450 non-null  object
 8   ColourExtInt       16450 non-null  object
 9   CylindersinEngine  16450 non-null  object
 10  BodyType           16450 non-null  object
 11  Price              16450 non-null  object
dtypes: int32(1), object(11)
memory usage: 1.6+ MB

#### Count and drop duplicated row

In [25]:
car.duplicated().sum()

9

In [26]:
car= car.drop_duplicates()

#### Check FuelType column

In [27]:
car['FuelType'].unique()

array(['Diesel', 'Premium', 'Unleaded', 'Hybrid', '-', 'Other',
       'Electric', 'LPG', 'Leaded'], dtype=object)

In [28]:
count_specific_value = car['FuelType'].value_counts()['-']

print(f"The count of 'your_specific_value' in 'column_name' is: {count_specific_value}")

The count of 'your_specific_value' in 'column_name' is: 523

In [29]:
# Drop rows which contained '-'
car.drop(car[car['FuelType'] == '-'].index, inplace=True)

In [30]:
car['FuelType'].unique()

array(['Diesel', 'Premium', 'Unleaded', 'Hybrid', 'Other', 'Electric',
       'LPG', 'Leaded'], dtype=object)

#### Check Kilometres column

In [31]:
car['Kilometres'].unique()

array(['5595', '16', '8472', ..., '5165', '85525', '31852'], dtype=object)

In [32]:
# Display rows where 'Kilometre' is equal to '- / -'
selected_rows = car[car['Kilometres'] == '- / -']

# Print or inspect the selected rows
print(selected_rows)

            Brand  Year  Model                Title UsedOrNew Transmission  \
14767      Toyota  2023  HiAce    Toyota HiAce Slwb       NEW    Automatic
14769        Land  2023  Rover  Land Rover Defender       NEW    Automatic
14771       Mazda  2023      6          Mazda 6 G25       NEW    Automatic
14775  Mitsubishi  2023    ASX    Mitsubishi ASX GS       NEW    Automatic
14779         Kia  2023    EV6          Kia EV6 AIR       NEW    Automatic
...           ...   ...    ...                  ...       ...          ...
15506       Iveco  2023  Daily       Iveco Daily E6       NEW    Automatic
15509       Iveco  2023  Daily       Iveco Daily E6       NEW       Manual
15511       Iveco  2023  Daily       Iveco Daily E6       NEW    Automatic
15514       Iveco  2023  Daily       Iveco Daily E6       NEW    Automatic
15517       Iveco  2023  Daily       Iveco Daily E6       NEW    Automatic

       FuelType Kilometres            ColourExtInt CylindersinEngine  \
14767    Diesel      - / -  5 years / Unlimited km             4 cyl
14769    Diesel      - / -  5 years / Unlimited km             6 cyl
14771  Unleaded      - / -  5 years / Unlimited km             4 cyl
14775  Unleaded      - / -  5 years / Unlimited km             4 cyl
14779  Electric      - / -  7 years / Unlimited km               0 L
...         ...        ...                     ...               ...
15506    Diesel      - / -    3 years / 200,000 km             4 cyl
15509    Diesel      - / -    3 years / 200,000 km             4 cyl
15511    Diesel      - / -    3 years / 200,000 km             4 cyl
15514    Diesel      - / -    3 years / 200,000 km             4 cyl
15517    Diesel      - / -    3 years / 200,000 km             4 cyl

           BodyType  Price
14767  People Mover  69760
14769           SUV  97700
14771         Wagon  36840
14775           SUV  26240
14779           SUV  72590
...             ...    ...
15506    Ute / Tray  71559
15509    Commercial  70202
15511    Ute / Tray  75789
15514    Ute / Tray  83909
15517    Ute / Tray  86714

[406 rows x 12 columns]

In [33]:
selected_rows = car[car['Kilometres'] == '-']
print(selected_rows)

            Brand  Year   Model                     Title UsedOrNew  \
2250   Volkswagen  2023  Tiguan  Volkswagen Tiguan 235TSI       NEW
2431      Renault  2023  Koleos     Renault Koleos Intens       NEW
2686   Volkswagen  2022  Passat  Volkswagen Passat 206TSI       NEW
2738   Volkswagen  2022   T-ROC   Volkswagen T-ROC 140TSI       NEW
3002   Volkswagen  2023  Passat  Volkswagen Passat 206TSI       NEW
...           ...   ...     ...                       ...       ...
16603       Mazda  2023    CX-9        Mazda CX-9 Touring       NEW
16629      Suzuki  2022   Swift        Suzuki Swift Sport       NEW
16642      Suzuki  2022   Ignis           Suzuki Ignis GL       NEW
16651      Suzuki  2022   Swift           Suzuki Swift GL       NEW
16661     Hyundai  2023    Kona            Hyundai Kona N       NEW

      Transmission  FuelType Kilometres         ColourExtInt  \
2250     Automatic   Premium          -             Blue / -
2431     Automatic  Unleaded          -            White / -
2686     Automatic   Premium          -             Grey / -
2738     Automatic   Premium          -            White / -
3002     Automatic   Premium          -            White / -
...            ...       ...        ...                  ...
16603    Automatic  Unleaded          -  Red / Black Leather
16629       Manual  Unleaded          -             Blue / -
16642    Automatic   Premium          -              Red / -
16651    Automatic  Unleaded          -             Grey / -
16661    Automatic   Premium          -         Grey / Black

      CylindersinEngine   BodyType  Price
2250              4 cyl        SUV  85990
2431              4 cyl        SUV  46888
2686              4 cyl      Wagon  68990
2738              4 cyl        SUV  52490
3002              4 cyl      Wagon  74990
...                 ...        ...    ...
16603             4 cyl        SUV  60376
16629             4 cyl  Hatchback  34690
16642             4 cyl        SUV  24485
16651             4 cyl  Hatchback  27690
16661             4 cyl        SUV  57600

[106 rows x 12 columns]

In [34]:
# Replace '-' and '- / -' with '0'
car['Kilometres']=car['Kilometres'].str.replace('- / -','0')
car['Kilometres']=car['Kilometres'].str.replace('-','0')

In [35]:
# Convert Kilometres type to (int)
car['Kilometres']=car['Kilometres'].astype(int)

#### Check ColourExtInt Column

In [36]:
car['ColourExtInt'].unique()

array(['White / Black', 'Black / Black', 'Grey / White', 'White / Brown',
       'Grey / Black', 'Grey / -', 'Red / Grey', 'Black / -', 'Blue / -',
       'White / -', 'White / Grey', 'Silver / -', 'Blue / Black',
       'Silver / Black', 'Silver / Grey', 'Red / -', 'Black / Tobacco',
       'White / Black Cloth', 'Black / Black Cloth',
       'Silver / Black Leather', 'Red / Black', 'Red / Black Cloth',
       'Grey / Grey', 'Black / Storm Grey', 'White / Grey  Cloth',
       'Green / Black', 'Yellow / -', 'Black / Leather',
       'Red / Black  Cloth', 'Orange / Grey', 'Gold / Black',
       'Silver / Cloth', 'Grey / Black Leather', 'Silver / Beige',
       'Black / Grey', 'Yellow / Black', 'Blue / Beige', 'Brown / Black',
       'Black / Beige', '- / -', 'Blue / Grey', 'White / Black Leather',
       'Grey / Red', 'Green / -', 'Grey / Beige', 'Brown / Grey',
       'Gold / -', 'Blue / Knight Black Synthetic Leather',
       'Black / Black Leather', '- / Black', '- / Car',
       'Brown / Black Leather', 'Gold / Black Leather',
       'Black / Cream Leather', 'Red / Red', 'White / Two Tone Leather',
       'Gold / Grey', 'White / Beige', 'Brown / -', 'Silver / Grey Cloth',
       'Orange / -', '- / Black Leather', 'Green / Beige',
       'Grey / Black Cloth', 'White / Black & Grey Cloth',
       'Blue / Black Partial Leather', 'White / Grey Cloth',
       'White / Cloth', 'Blue / Leather', 'White / Rapton',
       'White / Leather', 'Silver / Leather', 'Silver / Cream',
       'Blue / Bc', 'Grey / Red Leather', 'Gold / Cream',
       'Black / Merino Leather', 'White / Dakota Leather',
       'Brown / Leather', 'White / Red', 'Blue / Black Leather',
       'Silver / Leather Nevada Black', 'Yellow / Grey', '- / By7-L',
       'Black / Tan Leather', 'White / Cream Leather',
       'White / Black Amg Leather', 'Gold / Beige Leather',
       'Red / Leather', 'Yellow / Grey  Cloth',
       'Black / Black Alcantara & Sensatec & Contrast Stitching',
       'Yellow / Black Leather',
       'Grey / Black Alcantara & Sensatec & Contrast Stitching',
       'Red / Tartan', 'Brown / Grey Cloth', 'Grey / Black/Cream Leather',
       'Grey / F Sport Black/Hadori Aluminium', 'Silver / Black Cloth',
       'Purple / -', 'Grey / Blue', 'Red / Car', 'Grey / Grey & Black',
       'Silver / Black/Grey', 'White / Black Fabric',
       'White / Black/Grey', 'Grey / Classic Grey/Black', 'Grey / Brown',
       'Blue / Cloth', 'White / Grege', 'Brown / Beige',
       'Silver / Leather Interior With Alcantar', 'White / Dark Grey',
       'Blue / Carbon Black', 'Grey / Black/Grey', 'Blue / Biege',
       'White / Black One Tone', 'White / Grey Fabric', 'Orange / Black',
       'Black / Cloth', 'White / Summit White - Solid',
       'Grey / Black Fabric Sports', 'Black / Grey  Cloth',
       'Red / Knight Black Synthetic Leather', 'White / Grey Vinyl',
       'White / Black-Blue', 'Silver / Black & Grey Cloth', 'White / Car',
       'Green / Leather', 'Silver / Black/Beige', 'Grey / Burgundy',
       'Blue / Black Fabric',
       'White / Leather Interior, Smooth-Finish Leather, Black',
       'White / Grey Leather', 'Blue / Grey  Cloth', 'Red / Cloth',
       'Black / Black Amg Leather', 'Black / Carbon Black Leatherette',
       'White / Sportline', 'Grey / Soul Black', 'Grey / Grey Cloth',
       'Grey / Leather', 'Red / Carbon Black Leatherette', 'White / Dark',
       'Black / Red', 'Blue / Car', 'Silver / Grey & Black',
       'Black / Carbon Black', 'White / Jet Black', 'Grey / Cloth',
       'Grey / Titan Black', 'Blue / Black/Grey',
       'White / Mini Yours Leather Lounge', 'Black / Black/Grey',
       'Silver / Sportline', 'Blue / Black Cloth', 'Silver / Grey  Cloth',
       'Blue / Blue', 'Black / Leatherette Carbon B',
       'Silver / Brown Leather', 'White / Fabric', 'Grey / Sportline',
       'Grey / Beige Leather', 'Red / Sportline',
       'Black / Dakota Black Leather', 'Grey / Grey Leather',
       'Grey / Black Nappa Leather', 'Silver / Black Dakota Leather',
       '- / Grey', 'Grey / Cream', 'White / Titan Black',
       'Black / Leather Nevada Black', 'Orange / Black Leather',
       'Silver / Nexus Dark Grey', 'Blue / Anthracite & Titanium Black',
       'Orange / Black Yellow', 'Blue / Cloth Rapton',
       'Black / Knight Black', 'Black / Leather Vernasca Bla',
       'Red / Perforated Charcoal Leather', 'White / Rs',
       'Red / Burgandy',
       'Black / Vernasca Black Leather & Decor Stitching',
       'Brown / Biege', 'Black / Black  Cloth', 'Blue / Titanium Black',
       'Blue / Knight Black', 'Red / Titanium Black',
       'Black / Titan Black', 'White / Knight Black',
       'Blue / Charcoal Leather', 'Black / Black Grey',
       'White / Petrol Blue', 'White / Nougat Brown', 'White / Charcoal',
       'Green / Rs', 'Gold / Biege', 'Grey / Titanium Black Cloth',
       'White / Vernasca Black Leather & Decor Stitching',
       'Brown / Brown', 'Black / Black / Leather',
       "Grey / Excl.leather 'Nappa' Mocca Excl. S Titching/Leathe",
       'Grey / Interior Design Suite Amido', 'Blue / Blue/Black',
       'Green / Grey', 'White / Silver', 'Grey / Black And Cream',
       'White / Titanium Black', 'White / Bc', 'Gold / Cream Leather',
       'Red / Knight Black', 'Silver / Knight Black',
       'Brown / Pistachio Beige', 'White / Walnut Brown Nappa Leather',
       'White / Blue/Black', 'Blue / Grey Cloth',
       'White / Knight Black Synthetic Leather', 'Grey / Grey  Cloth',
       'Grey / Black Leather Sports', 'White / Charcoal Comfort',
       'Black / Ebony',
       'Silver / Artico Man-Made Leather / Dinamica Microfibre Upholstery Black',
       'Silver / Cloth Ray', 'Grey / Amber/Charcoal Perforated Nappa',
       'Grey / Asher Gray', 'White / Beige Leather',
       'Grey / Charcoal Perforated Nappa Leather/Charcoal',
       'White / Titanium Black Austin Cloth', 'Black / Black/Black',
       'Black / Blue', 'Silver / Charcoal', 'Grey / Charcoal Leather',
       'Black / Beige Leather', 'Grey / R-Design Nubuck',
       'White / Black Leather/Suede', 'Green / Cloth',
       'Yellow / Atomic - Black', 'Beige / -',
       'Grey / Chroma Brown Leather', 'Blue / Black/Black',
       'Black / Mini Yours Leather Lounge Carbon Black',
       'Blue / Ebony Leather', 'Grey / Burgundy Leather',
       'Silver / 74Fb20', 'Black / Burgundy Leather', 'Burgundy / -',
       'Silver / 44Fa20', 'Blue / Burgundy Leather', 'Grey / Ebony C',
       'Silver / Red Cloth', 'Silver / 2Lle21', 'Green / Tan',
       'Red / Leatherette Carbon B', 'Grey / Brown Leather',
       'Grey / 9Tld20', 'Red / 9Tld20', 'White / 2Xfl24',
       'Silver / Pale Grey Leather', 'Silver / Black/Black',
       'White / 44Fa20', 'Red / 7Efa20',
       'Black / Tartan Cloth & Knight Synthetic Leather', '- / Brown',
       'Silver / 3Sfj20', 'Grey / Paranut Brown/Black Dash 2T',
       'White / River Rock Soho Leather', 'Grey / C2Fe20',
       'Grey / 2Lle21', 'White / 2Vfa20', 'White / 4Efa20',
       'White / 2Zfa20', 'Black / Titanium Black & Crystal Grey',
       'Red / 2Xfl24', 'Blue / Silver And Black Silk Nappa',
       'White / 40Fa60', 'Grey / 9Meb20', 'Blue / Sportline',
       'Blue / Black Current', 'White / Cloth Twist Freedom',
       'Silver / Tartan Cloth & Knight Synthetic Leather', 'Red / 74Eb20',
       'Grey / 74La20', 'Black / 1Yfj20',
       'White / Ebony Seats/Ebony Interior/Ebony Headlining',
       'Silver / Black Fabric', 'Black / 2Lle21', 'White / Soul Black',
       'Black / Brown', 'Green / Grey  Cloth',
       'Black / Extended Partial Leather Interior, Seat Centres In Fabric, Black',
       'White / Partial Leather Interior, Black', 'Orange / Black Cloth',
       'Grey / Dark', 'Blue / Cream', 'Blue / Black & Grey Cloth',
       'Silver / Dark Grey', 'Grey / Black Fabric', 'Gold / Block',
       'White / 88H', 'Silver / Silver',
       'Red / Black Microsuede & Leather', 'Blue / Black/Grey Cloth',
       'White / Khaki', 'Silver / Ebony Leather', 'Grey / Petrol Blue',
       'Red / Red Leather', 'White / 42Lh22', 'White / 1Yfk20',
       'Black / Soul Black', 'Grey / Black Microsuede & Leatherette',
       'White / 1Yla20', 'Silver / Black & Light Grey', 'White / Stoff',
       'Blue / Titanium Black Vienna Leather', 'White / 3Lfc20',
       'Grey / 42Lh22', 'White / Ebony Leather', 'White / 74Fb20',
       'White / Black Maztex/Cloth', 'Purple / Black Leather',
       '- / 40Fa60', 'Grey / Titanium Black Cloth & Leather',
       'Blue / Black Oak-Ceramique', 'Brown / Red', 'Blue / Black/Green',
       'Silver / Charcoal Leather', 'Yellow / Black/Black',
       'Black / Titanium Black', 'Gold / Cloth', 'White / Grey / Leather',
       'Grey / Black Lugano Leather', 'Blue / Beige Cloth',
       'Grey / Black Cloth/Vinyl & Black Interior',
       'Grey / Gts Interior Package Crayon', 'Blue / By3',
       'White / Titanium Black-Ceramique Cloth', 'Black / Dark Grey',
       'Blue / Ebony Windsor Sports Leather/Ebony/Ebony', 'Silver / 24X',
       'Red / 3Lfe20', 'White / Black/Cream Leather', 'White / White',
       '- / Black Suede & Black Stitching', 'White / 13X',
       'White / Sensatec 1', 'Orange / 2Xlg22', 'Black / Tw',
       'White / 2Xlg22',
       'Silver / Black With Peak Embossing And Black Stitching',
       'Green / Cloth/Leather', 'White / 04701', 'Brown / Black/Green',
       'Black / Grey Leather', 'White / Black Sports Cloth',
       'Orange / Black & Grey Cloth', 'Grey / Cream Leather',
       'Black / 5Eea40', 'White / Moon Mist Grey', 'Blue / 7Cfd10',
       'White / Black Leather Ventilated Seats With Black Interior And Grey Stitching',
       'Red / Red Carpet T', 'White / Burgundy Leather',
       'Blue / Club Leather Truffle Brown', 'White / Ebony',
       'Green / Black & Grey', 'White / No Descripti', '- / 44Lb20',
       'Blue / 74La20', 'Blue / 2018/07', 'White / 1Yfg20',
       'White / 2021/04', 'White / 2019/07', 'Grey / Black And Blue',
       'White / 2019/04', 'White / Titanium Black Vienna Leather',
       'Silver / Black Nappa Leather', 'Red / Grey  Cloth',
       'Black / Charcoal Comfort', 'Brown / Cloth', 'White / Grade',
       'Grey / Stnd', 'White / Circuit Fabric', 'White / Black  Cloth',
       'Silver / Slate', 'Silver / 2019/01', 'White / 54Ld23',
       '- / Grey/Black', 'Silver / 42Lf22', 'Silver / 7Efa20',
       'White / 2022/07', 'Silver / Leather Black , Black',
       'Black / Santorini Bl', 'Silver / 2018/12', 'Blue / Ebony',
       'Grey / Dakota Leather', 'Grey / Ebony', 'Brown / Black Fabric',
       'Grey / Fabric Black', 'Green / Black/Grey', 'Black / Burgundy',
       'Red / Black Leather', 'White / Grey Trim', 'White / Stnd',
       'Grey / 2019/08', 'Blue / Grey Velour', 'Silver / Brown',
       'Red / Black Alcantara', 'White / 2019/01', 'White / 2020/11',
       'Black / Grey Cloth',
       'Grey / Leather Vernasca Design Perforated Cognac',
       'White / 2021/06', 'Red / Grey Cloth',
       'Grey / Amg Black Nappa Leather', 'Silver / Standardleather',
       'Grey / Slate', '- / Leather Loun', 'Grey / Black/Black',
       'Grey / 2021/04', 'Grey / 2015/01',
       'Silver / Ebony Grained Leather', 'White / Penta Fabric',
       'Silver / Shadow Grey', 'Grey / Gray', 'Black / Cream',
       'White / Black & Red Leather', 'Blue / 2016/01', 'Orange / Cloth',
       'Silver / Cream Leather', 'Blue / 2016/04', 'Black / Fz/Black',
       'Black / Ebony P375-H', 'White / Nappa Leather',
       'Silver / Artico Black', 'Blue / Charcoal Comfort',
       'White / Grey & Black', 'Grey / 2017/05', 'White / Black / Gr',
       'White / Cloth/Clot', 'Silver / Black  Cloth',
       'Red / Grey Leather', 'White / Black & Red Cloth', 'Blue / Slate',
       'Grey / Charcoal', 'White / Suede', 'Brown / Beige Leather',
       'Yellow / Slate', 'White / 2018/10', 'Brown / Ivory',
       'Blue / White', 'Grey / 2016/11', 'Yellow / Brown',
       'Black / 2022/09', 'White / 2016/08',
       'Grey / Titanium Black-Brown-Orange', 'Silver / Nappa Charcoal',
       'Red / Black Leather Accented', 'White / Alcantara',
       'Yellow / Black/Ikazuchi Yellow Cloth',
       'White / Black Artico Dinamica', 'Blue / Beige  Leather',
       'Silver / Black Artico', 'Black / Slate',
       'Black / Black Heated Leather', 'Silver / 2019/12', 'Pink / -',
       'Silver / Titanium Black Cloth', 'Gold / Black Cloth',
       'Gold / Beige', 'White / Partial Leather', 'Grey / Black Artico',
       'Gold / Slate', 'Blue / C- Court/B',
       'Silver / Black Leather & Red Stitching', 'Blue / Black & Blue',
       'Silver / Leather And Suede', 'Grey / Beige  Leather',
       'Grey / Black & Cream Leather', 'Red / Beige', 'Grey / 2021/07',
       'Grey / 2020/06',
       'White / Artico Man-Made Leather Sports Seat Black',
       'Silver / Silicon Silver', 'Yellow / Beige',
       'Blue / Dark Grey & Blue', 'White / Black / Leather',
       'Red / Brown Leather', 'Black / Ebony Circuit Fabric',
       'Orange / Leather', 'Black / Santorini Black',
       'Red / Black Nappa Leather', 'Red / Grey Sport Cloth',
       'Gold / Leather', 'Red / Champagne',
       'White / Ebony Black/Ebony Black', 'White / Dark Grey Leather',
       'Grey / 2022/01', 'Yellow / Cloth',
       'Black / Black Leather And Orange Trim',
       'Grey / Black/Express Red Stitching',
       'Black / Black Partial Leather', 'Blue / Tan', 'Blue / Stnd',
       'White / Black Dinamica', 'White / Black Artico',
       'Grey / Black Leather Accented', 'White / Blue',
       'Silver / Nappa Leather Black', 'Blue / Brown', 'White / Art Gray',
       'Blue / Black Artico', 'Grey / Black & Gray',
       'White / Black Exclusive Nappa', 'Brown / White',
       'Silver / Leather Dakota Black', 'White / Black/Black',
       'Grey / Black  Cloth', 'Grey / Black Sports Leather',
       'Red / Grey Cloth Seats', 'Green / Black/Express Red Stitching',
       'Silver / F Sport Black/Hadori Aluminium', 'Yellow / Leather',
       'Silver / Red', 'Grey / Mmajykl10Jh022022', 'White / 2018/05',
       'Gold / Dark Brown F', 'Red / Black/Red', 'Grey / Silver',
       'White / 2017/07', 'Grey / 2020/01', 'Black / Black/Grey Leather',
       'Red / 2019/08', 'White / Embossed Pattern Black Fabric',
       'Grey / Ebony Leathe', 'Red / Black Knight Synthetic Leather',
       'Blue / Platinum Grey', 'Silver / Cloth/Leather',
       "White / Bmw Individual Extended Leather Trim 'Merino' Fion",
       'Blue / 2018/09', 'Blue / Beige Leather', 'Bronze / -',
       'Silver / Charcoal Comfort', 'Blue / Led.dakota M',
       'White / 2015/01', 'Grey / Black / Leather', 'Grey / Parchment',
       'Purple / Titanium Black', 'White / 2022/02',
       'Silver / Beige  Leather', 'White / 2020/06', 'Blue / 2022/07',
       'Red / Grey/ Navy', 'Grey / Cream Beige', 'White / 2019/10',
       'White / Titanium Black Cloth', 'Grey / Sensafin Dekorgesteppt',
       'White / 2018/03', 'White / 2022/05', 'White / Black Grey',
       'Silver / Black & Grey Tartan',
       'White / Black & Red Cloth & Sensatec', 'Black / 2015/06',
       'Blue / 2016/06', 'Blue / Black Sports Cloth',
       'White / Black Sports', 'Other / -',
       'Silver / Grey & Black Fabric', 'Silver / Black Leather Accented',
       'Black / Black Leather   Cloth', 'Grey / R Line',
       'White / 2020/02', 'Grey / Hx', 'White / 2019/05',
       'Silver / Leather Cross Punch Carbon Black', 'Red / 2020/07',
       'Black / 2016/09', 'Brown / Bone', 'White / Grey\\',
       'Yellow / Black Cloth', 'White / Black With Red Trim',
       'Red / Leather Dakota Black', 'Red / Part Leather',
       'Red / Red & Black Leather', 'Blue / Gt Line Leat',
       'Blue / Montana Grey Leather', 'Black / Wk',
       'Black / Black Softex', 'Red / Charcoal Comfort', 'Red / Charcoal',
       'Black / Lava Black L', 'Blue / Charcoal',
       'Black / Graphite & Saturn Black', 'Black / Blue/Black',
       'Grey / Leather Dakota Black Exclusive Stitching',
       "White / Full Leather 'Merino' Aragon Brown",
       'Blue / Brown Leather', 'Silver / Penta Fabric',
       'Silver / Charcoal Grey Cloth', 'White / 2023/01', 'Blue / Bk',
       'Blue / Grey / Leather', 'White / Burgandy',
       'Red / Grey / Leather', 'Black / Gray', 'Red / Black Leatherette',
       'White / Cream Beige', 'Grey / Grey / Leather',
       'White / Charcoal Black Cloth', 'Black / Blue / Grey',
       'Blue / Leather Black',
       'Blue / Ebony Seats/Ebony Interior/Ebony Headlining',
       'White / Black Leather Accented', 'Blue / 2017/07',
       'Green / Grey & Black', 'Blue / Black  Cloth', 'Grey / 2018/08',
       'Black / 2019/09', 'Blue / Ebony Leather 1',
       'Red / Silver And Black Silk Nappa', 'Grey / Velour',
       'White / Grey Cloth Seats', 'Silver / Walnut Brown Nappa Leather',
       '- / Burgundy', '- / Grey  Cloth', 'White / Pure White.',
       'Blue / Black/Pale Grey/Black Leather', 'White / Red Leather',
       'White / Leather Vernasca Design Perforated Cognac',
       'White / Black-Black-Rock Gray', 'White / Beige  Leather',
       'Silver / Ebony P375-H', 'White / 2020/12', 'Silver / Gfrey',
       'White / Dark Russet Leather', 'White / =',
       'Silver / Grey Leather', 'Black / Grey & Black Fabric',
       'Silver / Tan Leather', 'Grey / 2021/05', 'Blue / Black/Carbon',
       'Red / Grey Partial Leather', 'Brown / 20', 'Blue / Ebony Mason',
       'White / R-Line Soul Black', 'White / White. Grey',
       'Blue / Grey7/20', 'Blue / Black R-Line',
       'Black / Soul Black/Flint Grey', 'Black / Standard Trim',
       'White / Black Leather Seats', 'White / Sage Caliber Fabric',
       'Grey / Black Sports Cloth', 'Silver / Black & Grey Leather',
       'Grey / 2018/03', 'Brown / Chestnut',
       'Silver / Embossed Pattern Black Fabric', 'Turquoise / -',
       'White / 2021/07', 'White / 2018/09', 'White / 2018/12',
       'Brown / Grey Fabric', 'White / Gray', 'Silver / 2018/07',
       'Silver / 2021/07', 'White / Black Softex W',
       'White / Ebony Interior Trend Mni Perf Ov Milled Pbl',
       'White / Dark Grey Cloth', 'White / Standard Trim',
       'Blue / Black/Cloth', 'White / Partial Leather Trim',
       'Blue / Black/Leather', 'Grey / Windsor Leather',
       'Silver / Burgandy', 'Grey / Standard Trim', 'Yellow / Grey Cloth',
       'Red / Black Fabric', 'Grey / Black/Leather',
       'Grey / Soul Black/Soul Black/Black/Storm Gray',
       'Silver / Standard Trim',
       'Red / Titanium Black/Titanium Black/Black/Storm Gray',
       '- / 16 Black/Titanium Black-Titanium', 'Silver / Off Black',
       'Black / Black Synthetic Leather', 'Grey / Grey Fabric',
       'White / Extended Partial Leather Interior, Seat Centres In Fabric, Black',
       'White / Titanium Black/Titanium Black/Black/Storm Gray',
       'White / Null', '5 years / Unlimited km', '7 years / Unlimited km',
       'White / Burgundy', 'White / Black And Red',
       '5 years / 200,000 km', '2 years / 60,000 km',
       '5 years / 250,000 km', '1 years / 10,000 km',
       '3 years / Unlimited km', '3 years / 200,000 km',
       '3 years / 150,000 km', '2 years / 500,000 km',
       '6 years / 150,000 km', '3 years / 100,000 km',
       '1 years / Unlimited km', '6 years / 600,000 km',
       '6 years / 300,000 km', '6 years / 250,000 km',
       '3 years / 500,000 km', '5 years / 160,000 km',
       '4 years / 100,000 km', '3 years / 250,000 km',
       '5 years / 150,000 km', '6 years / 500,000 km',
       '5 years / 300,000 km', 'Silver / Leather 47807', 'Blue / Camel',
       'Grey / Ebony Cloth', '3 years / 160,000 km',
       '5 years / 100,000 km', '7 years / 200,000 km',
       'White / Black/Tan Orange Leather', 'Silver / Blue Dinamica',
       'Blue / Natural Beige', 'Silver / Anthracite Grey Leather',
       'Silver / Fabric', 'Blue / Petrol Blue', 'Cream / -',
       'White / Dark Charcoal Leath', '- / Carbon Black Dinamica/Leather',
       'Silver / Black Maztex/Cloth', 'Grey / Leather - Off Black',

In [37]:
count_specific_value = car['ColourExtInt'].value_counts()['5 years / 250,000 km']

print(f"The count of 'your_specific_value' in 'column_name' is: {count_specific_value}")

The count of 'your_specific_value' in 'column_name' is: 7

In [38]:
# Drop out every rows that contained 'years' and '- / -' in ColourExtInt column

car.drop(car[car['ColourExtInt'] == '- / -'].index, inplace=True)

car.drop(car[car['ColourExtInt'].str.contains('years')].index, inplace=True)

In [39]:
# Get the str value of the first word from ColourExtInt column and put into a new column 'Colour'
car['Colour'] = car['ColourExtInt'].str.split('/').str[0].str.strip()

In [40]:
# Drop out 'ColourExtInt' column
car.drop(columns='ColourExtInt', inplace=True)

#### Check Colour column

In [41]:
car['Colour'].unique()

array(['White', 'Black', 'Grey', 'Red', 'Blue', 'Silver', 'Green',
       'Yellow', 'Orange', 'Gold', 'Brown', '-', 'Purple', 'Beige',
       'Burgundy', 'Pink', 'Bronze', 'Other', 'Turquoise', 'Cream'],
      dtype=object)

In [42]:
count_specific_value = car['Colour'].value_counts()['-']

print(f"The count of 'your_specific_value' in 'column_name' is: {count_specific_value}")

The count of 'your_specific_value' in 'column_name' is: 32

In [43]:
car.drop(car[car['Colour'] == '-'].index, inplace=True)

In [44]:
car.drop(car[car['Colour'] == 'Other'].index, inplace=True)

#### CylindersinEngine column

In [45]:
car['CylindersinEngine'].unique()

array(['4 cyl', '8 cyl', '-', '3 cyl', '6 cyl', '5 cyl', '12 cyl', '0 L',
       '2 cyl', '10 cyl'], dtype=object)

In [46]:
count_specific_value = car['CylindersinEngine'].value_counts()['-']

print(f"The count of 'your_specific_value' in 'column_name' is: {count_specific_value}")

The count of 'your_specific_value' in 'column_name' is: 1074

In [47]:
selected_rows = car[car['CylindersinEngine'] == '-']

# Print or inspect the selected rows
print(selected_rows)

               Brand  Year     Model                          Title UsedOrNew  \
5             Toyota  2004    Estima                Toyota Estima T      USED
10            Toyota  2009     HiAce               Toyota HiAce (No      USED
32        Volkswagen  2023   T-Cross       Volkswagen T-Cross 85TSI       NEW
38              Jeep  2012     Grand            Jeep Grand Cherokee      USED
40            Toyota  2009     HiAce               Toyota HiAce (No      USED
...              ...   ...       ...                            ...       ...
16706  Mercedes-Benz  2016  Sprinter  Mercedes-Benz Sprinter 319CDI      USED
16708         Nissan  2008   Elgrand                 Nissan Elgrand      USED
16723         Suzuki  2022     Swift                Suzuki Swift GL       NEW
16726         Toyota  2011    Estima                  Toyota Estima      USED
16729         Toyota  2014   Alphard                 Toyota Alphard      USED

      Transmission  FuelType  Kilometres CylindersinEngine    BodyType  Price  \
5        Automatic  Unleaded      160230                 -  Commercial   9990
10       Automatic  Unleaded      148190                 -  Commercial  42500
32       Automatic   Premium          15                 -       Wagon  35887
38       Automatic  Unleaded      224839                 -       Wagon  13999
40       Automatic  Unleaded       76259                 -  Commercial  32900
...            ...       ...         ...               ...         ...    ...
16706    Automatic    Diesel      186856                 -  Commercial  39950
16708    Automatic  Unleaded       97000                 -       Wagon  18000
16723    Automatic  Unleaded          20                 -   Hatchback  28590
16726    Automatic  Unleaded       97000                 -       Wagon  21989
16729    Automatic  Unleaded       66000                 -  Commercial  29500

       Colour
5        Grey
10      White
32      White
38        Red
40      White
...       ...
16706   White
16708   White
16723  Silver
16726  Silver
16729    Grey

[1074 rows x 12 columns]

In [48]:
# Get the first value from str in CylindersinEngine column
car['CylindersinEngine']=car['CylindersinEngine'].str.split().str.slice(start=0,stop=1).str.join('')

In [49]:
# Replace '-' with '4' and covert CylindersinEngine type to (int)
car['CylindersinEngine']=car['CylindersinEngine'].str.replace('-','4').astype(int)

#### BodyType column

In [50]:
car['BodyType'].unique()

array(['SUV', 'Hatchback', 'Coupe', 'Commercial', 'Ute / Tray', 'Sedan',
       'Wagon', 'People Mover', 'Convertible', 'Other'], dtype=object)

In [51]:
count_specific_value = car['BodyType'].value_counts()['Other']

print(f"The count of 'your_specific_value' in 'column_name' is: {count_specific_value}")

The count of 'your_specific_value' in 'column_name' is: 14

In [52]:
selected_rows = car[car['BodyType'] == 'Other']

# Print or inspect the selected rows
print(selected_rows)

      Brand  Year Model        Title UsedOrNew Transmission FuelType  \
1628   Audi  2019    A3   Audi A3 40      USED    Automatic  Premium
1914   Audi  2020    RS    Audi RS 7      USED    Automatic   Hybrid
2177   Audi  2018    A3   Audi A3 35      USED    Automatic  Premium
3141   Audi  2019    A3   Audi A3 35      USED    Automatic  Premium
3435   Audi  2018    A3   Audi A3 35      USED    Automatic  Premium
3552   Audi  2023    A5   Audi A5 45      DEMO    Automatic   Hybrid
3731   Audi  2019    S3  Audi S3 2.0      USED    Automatic  Premium
3733   Audi  2023    A5   Audi A5 45      DEMO    Automatic   Hybrid
3920   Audi  2018    A3   Audi A3 35      USED    Automatic  Premium
6045   Audi  2020    RS    Audi RS 3      USED    Automatic  Premium
7719   Audi  2019    A3   Audi A3 35      USED    Automatic  Premium
10732  Audi  2018    A3   Audi A3 30      USED    Automatic  Premium
15290  Audi  2023    A5   Audi A5 45      DEMO    Automatic   Hybrid
16623  Audi  2022    A5   Audi A5 45      DEMO    Automatic   Hybrid

       Kilometres  CylindersinEngine BodyType   Price  Colour
1628        46595                  4    Other   41880    Grey
1914        43003                  8    Other  189990   White
2177        22404                  4    Other   32800  Silver
3141        73164                  4    Other   31800   White
3435        49029                  4    Other   35990   White
3552         2088                  4    Other   96888   Black
3731        22889                  4    Other   56990  Silver
3733         2088                  4    Other   93888   Black
3920        34921                  4    Other   30880     Red
6045        15487                  5    Other   89800    Grey
7719        21748                  4    Other   37990     Red
10732       38094                  3    Other   27800   Black
15290        2088                  4    Other  102488   White
16623        4890                  4    Other   94900   White

In [53]:

# Replace 'OldValue' with 'NewValue' in 'TargetColumn' where 'ConditionColumn' has a specific value
condition_value1 = 'Audi A3 35','Audi RS 7','Audi S3 2.0','Audi A5 45','Audi A3 40'
condition_value2 = 'Audi RS 3','Audi A3 30'
old_value = 'Other'
value1 = 'Sedan'
value2 = 'Hatchback'

condition_mask1 = car['Title'].isin(condition_value1)
car.loc[condition_mask1, 'BodyType'] = car.loc[condition_mask1, 'BodyType'].replace(old_value, value1)

condition_mask2 = car['Title'].isin(condition_value2)
car.loc[condition_mask2, 'BodyType'] = car.loc[condition_mask2, 'BodyType'].replace(old_value, value1)

#### Price column

In [54]:
car['Price'].unique()

array(['51990', '19990', '108988', ..., '21989', '36770', '35280'],
      dtype=object)

In [55]:
car=car[car['Price'].str.isnumeric()]

In [56]:
car['Price']= car['Price'].astype(int)

In [57]:
car=car.reset_index(drop=True)

## Cleaned Data

In [58]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15094 entries, 0 to 15093
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              15094 non-null  object
 1   Year               15094 non-null  int32
 2   Model              15094 non-null  object
 3   Title              15094 non-null  object
 4   UsedOrNew          15094 non-null  object
 5   Transmission       15094 non-null  object
 6   FuelType           15094 non-null  object
 7   Kilometres         15094 non-null  int32
 8   CylindersinEngine  15094 non-null  int32
 9   BodyType           15094 non-null  object
 10  Price              15094 non-null  int32
 11  Colour             15094 non-null  object
dtypes: int32(4), object(8)
memory usage: 1.2+ MB

In [59]:
car.tail()

,Brand,Year,Model,Title,UsedOrNew,Transmission,FuelType,Kilometres,CylindersinEngine,BodyType,Price,Colour
15089,Nissan,2021,Qashqai,Nissan Qashqai TI,USED,Automatic,Unleaded,32977,4,SUV,36770,White
15090,Toyota,2014,Alphard,Toyota Alphard,USED,Automatic,Unleaded,66000,4,Commercial,29500,Grey
15091,Suzuki,2022,Vitara,Suzuki Vitara 1.6L,DEMO,Automatic,Unleaded,5165,4,SUV,35280,Yellow
15092,Mercedes-Benz,2016,GLC250,Mercedes-Benz GLC250,USED,Automatic,Premium,85525,4,SUV,41888,Grey
15093,Mercedes-Benz,2021,C200,Mercedes-Benz C200,USED,Automatic,Unleaded,31852,4,Sedan,65888,Gold

In [60]:
car.shape

(15094, 12)

In [61]:
car.drop('Unnamed: 0', axis=1, inplace=True, errors='ignore')

#### Create new csv file to store cleaned data

In [62]:
car.to_csv('Cleaned_data.csv')

In [63]:
car

,Brand,Year,Model,Title,UsedOrNew,Transmission,FuelType,Kilometres,CylindersinEngine,BodyType,Price,Colour
0,Ssangyong,2022,Rexton,Ssangyong Rexton Ultimate,DEMO,Automatic,Diesel,5595,4,SUV,51990,White
1,MG,2022,MG3,MG MG3 Auto,USED,Automatic,Premium,16,4,Hatchback,19990,Black
2,BMW,2022,430I,BMW 430I M,USED,Automatic,Premium,8472,4,Coupe,108988,Grey
3,Mercedes-Benz,2011,E500,Mercedes-Benz E500 Elegance,USED,Automatic,Premium,136517,8,Coupe,32990,White
4,Renault,2022,Arkana,Renault Arkana Intens,USED,Automatic,Unleaded,1035,4,SUV,34990,Grey
...,...,...,...,...,...,...,...,...,...,...,...,...
15089,Nissan,2021,Qashqai,Nissan Qashqai TI,USED,Automatic,Unleaded,32977,4,SUV,36770,White
15090,Toyota,2014,Alphard,Toyota Alphard,USED,Automatic,Unleaded,66000,4,Commercial,29500,Grey
15091,Suzuki,2022,Vitara,Suzuki Vitara 1.6L,DEMO,Automatic,Unleaded,5165,4,SUV,35280,Yellow
15092,Mercedes-Benz,2016,GLC250,Mercedes-Benz GLC250,USED,Automatic,Premium,85525,4,SUV,41888,Grey
15093,Mercedes-Benz,2021,C200,Mercedes-Benz C200,USED,Automatic,Unleaded,31852,4,Sedan,65888,Gold

In [64]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15094 entries, 0 to 15093
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              15094 non-null  object
 1   Year               15094 non-null  int32
 2   Model              15094 non-null  object
 3   Title              15094 non-null  object
 4   UsedOrNew          15094 non-null  object
 5   Transmission       15094 non-null  object
 6   FuelType           15094 non-null  object
 7   Kilometres         15094 non-null  int32
 8   CylindersinEngine  15094 non-null  int32
 9   BodyType           15094 non-null  object
 10  Price              15094 non-null  int32
 11  Colour             15094 non-null  object
dtypes: int32(4), object(8)
memory usage: 1.2+ MB

In [65]:
car.isna().sum().sort_values(ascending=False)

Brand                0
Year                 0
Model                0
Title                0
UsedOrNew            0
Transmission         0
FuelType             0
Kilometres           0
CylindersinEngine    0
BodyType             0
Price                0
Colour               0
dtype: int64

In [66]:
car.nunique()

Brand                   66
Year                    40
Model                  706
Title                 2199
UsedOrNew                3
Transmission             2
FuelType                 8
Kilometres           13454
CylindersinEngine        9
BodyType                 9
Price                 3293
Colour                  18
dtype: int64